body {

}
canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 25%;
}
@font-face {
    font-family: 'YozakuraLight';
    src: url("YozakuraJP-Light.otf");
}
p {
    color: transparent;
    font: 100 10px YozakuraLight;
}
#frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 25%;
}
#instructions {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto 5%;
}
#preloader {
    opacity: 0;
}